@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base{
    body{
        background-color: #000B08;
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
    }
    h1,h2,h3,h4,h5,h6,p,span{
        text-align: center;
    }
    h1{
        @apply mt-10 text-4xl font-bold max-sm:text-2xl
    }
}
@layer components{
    .button{
        @apply text-white bg-gradient-to-r from-[#2EDBA6] to-[#087E5A] w-fit h-[32px] px-6 shadow-inner shadow-white
        rounded-full md:h-[42px] lg:px-12 max-sm:text-xs;
    }
}

@utility flex-center{
    @apply flex justify-center items-center;
}

@utility card{
    @apply w-full p-10 min-h-[240px] bg-[#0E1614B2] rounded-4xl border border-[#B9FFEA80] relative overflow-hidden min-w-[300px]
}

@utility ecosystem-node{
    @apply w-16 h-16 md:w-20 md:h-20 rounded-full bg-gradient-to-b from-[#2EDBA6] to-[#03714F] flex-center drop-shadow-lg drop-shadow-[#2EDBA6] transition-all duration-300
}
